bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Build
*.dll
*.pdb

# User-specific files
*.user
*.DotSettings.user

# Rider / JetBrains
.idea/

appsettings.Development.json
appsettings.json

.DS_Store

# Logs da aplicação
logs/
*.log

# Certificados e chaves
certificates/
temp-keys/

# Grafana data
grafana/

# Arquivos temporários
*.tmp
*.swp
*.bak

# VSCode settings
.vscode/

# Prometheus data (wal, lock, chunks, etc.)
prometheus/*
!prometheus.yaml

#Loki
loki/